<!--
  # License
  # This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
  # of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

  # Code History
  # 1.0 - 2/5/2019 - Sean Chan - Initial File
  # 2.0 - 2/7/2019 - Menard Cruz - Initial Frontend layouting
  # 2.1 - 2/7/2019 - Michael Marrero - Edited Comments, Added Comment block for detailed information regarding the software.
  # 2.2 - 3/6/2019 - Menard Cruz - Added more details in the frontend
  # 2.3 - 3/7/2019 - Menard Cruz - Updated frontend

  # File Creation Date: 2/5/2019
  # Development Group: Transit Development Tteam (Chan,Cruz,Marrero)
  # Client Group: UP Student Dormers
  # Purpose of the Software: The project is to make a web-based application named Transit, and its main vision is to inform dormers and other temporary housed students to travel back to their
  #   permanent residence of the routes and methods from their current location. Being on a budget, students are more inclined to cheaper options in favor of comfort or travel time.
-->

<% content_for :title, "Favorites" %>
<div class="container py-5">
  <% if notice %>
    <div class="alert alert-info" id="notice" role="alert">
      <i class="fas fa-check"></i> <%= notice %>
    </div>
  <% end %>


  <div class="row">
    <div class="col-8">
      <h1>Favorites</h1>
    </div>
    <div class="col-4 d-flex">
      <a class=" ml-auto my-auto" href="<%= new_favorite_path %>">
        <button type="button" class="btn btn-warning"><i class="fas fa-plus"></i> New Favorite</button>

      </a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Favorite Route Group</th>
        <th>Commuter Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>

      <% current_user.favorites.each do |favorite| %>
      <!--
        Displays the lists of Favorite Route Groups and what the user can do with them.
        Users can either:
          Show, Read more detailed information of the Favorite Route Group
          Edit, Edit the Favorite Route Group's Name
          Destroy, To delete/remove the Favorite Route Group
      -->
        <tr>
          <td><%= favorite.name %></td>
          <td><%= favorite.commuter.name %></td>
          <td><a href="<%= favorite_path(favorite) %>"><i class="fas fa-eye"></i></a> </td>
          <td><a href="<%= edit_favorite_path(favorite) %>"><i class="fas fa-edit"></i></a></td>
          <td><a href="<%= favorite_path(favorite) %>" rel="no-follow" data-method="delete" data-confirm="Are you sure you want to remove <%= favorite.name %>?"><i class="fas fa-times"></i></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>

   <% if current_user.favorites.length == 0 %>
      <div class="p-3 d-flex">
        <span class="m-auto">There are no favorite route groups to show.</span>
      </div>
    <% end %>



</div>
