<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @favorite.name %>
</p>
<div class="container">
  <h2>List of Transit Lines</h2>
  <!--  STUB ! TODO - Menard -->
</div>
<div class="container">
  <h4>Belongs to commuter: <%= @favorite.commuter.name %></h4>
</div>

<div class="container">
  <h4>List of Transit Lines Under Favorite <%= @favorite.name %></h4>
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Operating hours</th>
        <th>Type</th>
        <th>Restrictions</th>
        <th>Reliability</th>
        <th>Name</th>
        <th>Avg price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @favorite.transit_lines.each do |transit_line| %>
      <tr>
        <td><%= transit_line.status %></td>
        <td><%= transit_line.operating_hours %></td>
        <td><%= transit_line.type %></td>
        <td><%= transit_line.restrictions %></td>
        <td><%= transit_line.reliability %></td>
        <td><%= transit_line.name %></td>
        <td><%= transit_line.avg_price %></td>
        <td><%= link_to 'Show', transit_line %></td>
        <td><%= link_to 'Edit', edit_transit_line_path(transit_line) %></td>
        <td><%= link_to 'Destroy', transit_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
