<!-- 
  # License
  # This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
  # of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

  # Code History
  # 1.0 - 2/5/2019 - Sean Chan - Initial File
  # 2.0 - 2/7/2019 - Menard Cruz - Initial Frontend layouting
  # 3.0 - 2/7/2019 - Sean Chan - ERB fixes
  # 3.1 - 2/7/2019 - Michael Marrero - Edited Comments, Added Comment block for detailed information regarding the software.

  # File Creation Date: 2/5/2019
  # Development Group: Transit Development Tteam (Chan,Cruz,Marrero)
  # Client Group: UP Student Dormers
  # Purpose of the Software: The project is to make a web-based application named Transit, and its main vision is to inform dormers and other temporary housed students to travel back to their 
  #   permanent residence of the routes and methods from their current location. Being on a budget, students are more inclined to cheaper options in favor of comfort or travel time.
-->

<%= content_for :title, @favorite.name %>

<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @favorite.name %>
  </p>

  <h2>List of Transit Lines</h2>
  <!--  STUB ! TODO - Menard -->


  <h4>Belongs to commuter: <%= @favorite.commuter.name %></h4>


  <!--
    Displays more details on the Favorite Route Group. Displays the list of transit lines associated with the Favorite Route Group and additional info on specific transit lines.
  -->
  <h4>List of Transit Lines Under Favorite <%= @favorite.name %></h4>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Operating hours</th>
        <th>Type</th>
        <th>Restrictions</th>
        <th>Reliability</th>
        <th>Avg price</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <!--
      Displays all the transit lines and its details associated with the Favorite Route Group's "Show" property
      It is also possible for transit lines in Favorite Route Groups to either:
        Show, display more details on said transit line.
        Edit, edit the line path from the list of transit lines
        Destroy, remove the transit line from the Favorite Route Group
    -->
    <tbody>
      <% @favorite.transit_lines.each do |transit_line| %>
      <tr>
        <td><%= transit_line.name %></td>
        <td><%= transit_line.status %></td>
        <td><%= transit_line.operating_hours %></td>
        <td><%= transit_line.kind %></td>
        <td><%= transit_line.restrictions %></td>
        <td><%= transit_line.reliability %></td>
        <td><%= transit_line.avg_price %></td>
        <td><%= link_to 'Show', transit_line %></td>
        <td><%= link_to 'Edit', edit_transit_line_path(transit_line) %></td>
        <td><%= link_to 'Destroy', transit_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_favorite_path(@favorite) %> |
  <%= link_to 'Back', favorites_path %>

</div>

