<!--
  # License
  # This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
  # of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

  # Code History
  # 1.0 - 2/5/2019 - Sean Chan - Initial File
  # 2.0 - 2/7/2019 - Menard Cruz - Initial Frontend layouting
  # 3.0 - 2/7/2019 - Sean Chan - ERB fixes
  # 3.1 - 2/7/2019 - Michael Marrero - Edited Comments, Added Comment block for detailed information regarding the software.
  # 3.2 - 3/7/2019 - Menard Cruz - Updated frontend

  # File Creation Date: 2/5/2019
  # Development Group: Transit Development Tteam (Chan,Cruz,Marrero)
  # Client Group: UP Student Dormers
  # Purpose of the Software: The project is to make a web-based application named Transit, and its main vision is to inform dormers and other temporary housed students to travel back to their
  #   permanent residence of the routes and methods from their current location. Being on a budget, students are more inclined to cheaper options in favor of comfort or travel time.
-->

<%= content_for :title, @favorite.name %>


<div class="container py-5">


  <% if notice %>
    <div class="alert alert-info mt-3" id="notice" role="alert">
      <i class="fas fa-check"></i> <%= notice %>
    </div>
  <% end %>

  <div class="row w-100">
    <div class="col-lg-6 order-2 order-lg-1">


      <div id="leaflet-map"></div>

        <script>
          <% if !@favorite.transit_lines.empty? %>
            var lat = <%= @favorite.transit_lines[0].transit_stops[0].latitude %>;
            var lng = <%= @favorite.transit_lines[0].transit_stops[0].longitude %>;

            var names = [<%= raw @string %>];

            var map = L.map('leaflet-map').setView([lat, lng], 15);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
              attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
              maxZoom: 18,
              minZoom: 4,
              id: 'mapbox.streets',
              accessToken: 'pk.eyJ1IjoieXNyYWVsMjE0IiwiYSI6ImNqdGZ2ZTRsejA4N2IzeXBqaXJ1OWZqb3EifQ.VGqjFFnSeNznPks0anqWcg'
          }).addTo(map);


          var control = L.Routing.control({
              createMarker: function(i, wp, nWps) {
                   var marker = L.marker(wp.latLng).bindPopup(names[i]);

                      marker.on('mouseover',function(ev) {
                      marker.openPopup();
                      });
                  return marker;
              },

            waypoints: [
              <% flag = 0 %>
              <% @favorite.transit_lines.each do |transit_line| %>
                <% transit_line.transit_stops.each do |transit_stop| %>
                  <% if flag == 1%>,<% end %>
                    L.latLng(<%= transit_stop.latitude %>, <%= transit_stop.longitude %> )
                  <% flag = 1 %>
                <% end %>
              <% end %>
            ],
            routeWhileDragging: false,
            lineOptions: {
                /*styles:   [{color: "red", opacity: 1, weight: 3 }],*/
                addWaypoints:   false
            }

          }).addTo(map);
        <% else %>
          <%# result = Geocoder.search(request.remote_ip).first %>
          var map = L.map('leaflet-map').setView([14.6535858,121.0667753], 15);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
              attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
              maxZoom: 18,
              minZoom: 4,
              id: 'mapbox.streets',
              accessToken: 'pk.eyJ1IjoieXNyYWVsMjE0IiwiYSI6ImNqdGZ2ZTRsejA4N2IzeXBqaXJ1OWZqb3EifQ.VGqjFFnSeNznPks0anqWcg'
          }).addTo(map);
        <% end %>
      </script>

    </div>
    <div class="col-lg-6 order-1 order-lg-2">
        <h2 class="mt-3">Viewing: <%= @favorite.name %> <a class="ml-2" href="<%= edit_favorite_path(@favorite) %>"><i class="fas fa-pen-square"></i></a></h2>
    </div>
  </div>



  <hr>


  <!--
    Displays more details on the Favorite Route Group. Displays the list of transit lines associated with the Favorite Route Group and additional info on specific transit lines.
  -->
  <h4>List of Transit Lines</h4>
  <table class="table">
    <thead>
      <tr>
        <th> </th>
        <th>Name</th>

        <th>Operating hours</th>
        <th>Type</th>
        <th>Restrictions</th>
        <th>Reliability</th>
        <th>Avg price</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <!--
      Displays all the transit lines and its details associated with the Favorite Route Group's "Show" property
      It is also possible for transit lines in Favorite Route Groups to either:
        Show, display more details on said transit line.
        Edit, edit the line path from the list of transit lines
        Destroy, remove the transit line from the Favorite Route Group
    -->
    <tbody>
      <% @favorite.transit_lines.each do |transit_line| %>
      <tr>
        <td class="text-center"><i class="fas fa-circle
            <% if transit_line.status == "Full Operation" %>
              text-success
            <% else %>
              text-danger
            <% end %>
            ">
            </i>
        </td>
        <td><%= transit_line.name %></td>

        <td><%= transit_line.operating_hours %></td>
        <td><%= transit_line.kind %></td>
        <td><%= transit_line.restrictions %></td>
        <td><%= transit_line.reliability %></td>
        <td>P<%= sprintf('%.2f', transit_line.avg_price) %></td>

        <td><a href="<%= transit_line_path(transit_line) %>"><i class="fas fa-eye"></i></a> </td>
        <!-- <td><a href="<%= edit_transit_line_path(transit_line) %>"><i class="fas fa-edit"></i></a></td> -->
        <!-- <td><a href="<%= transit_line_path(transit_line) %>" rel="no-follow" data-method="delete" data-confirm="Are you sure you want to remove <%= transit_line.name %>?"><i class="fas fa-times"></i></a></td> -->
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
