<!--
  # License
  # This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
  # of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

  # Code History
  # 1.0 - 2/5/2019 - Sean Chan - Initial File
  # 2.0 - 2/7/2019 - Menard Cruz - Initial Frontend layouting
  # 3.0 - 2/7/2019 - Sean Chan - ERB fixes
  # 3.1 - 2/7/2019 - Michael Marrerio - Edited comments, Added Comment block for detailed informationon the software.

  # File Creation Date: 2/5/2019
  # Development Group: Transit Development Tteam (Chan,Cruz,Marrero)
  # Client Group: UP Student Dormers
  # Purpose of the Software: The project is to make a web-based application named Transit, and its main vision is to inform dormers and other temporary housed students to travel back to their
  #   permanent residence of the routes and methods from their current location. Being on a budget, students are more inclined to cheaper options in favor of comfort or travel time.
-->

<!DOCTYPE html>
<html>
  <head>
    <%# Change title depending on page  %>
    <title><%= yield(:title) %> - Transit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Allow responsiveness %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>

    <!-- Leaflet Routing Machine -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>

    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

  </head>

  <body>
    <%# Setting site-container to 100vh for element parent issues  %>
    <div class="site-container">
      <%= render 'layouts/header' %>

        <%# This is placed so footer will stay below the pages %>
        <div class="site-content">

          <%= yield %>

        </div>

        <div class="container py-3 my-3 border border-secondary">
          <%= debug(params) if Rails.env.development? %>
        </div>
      <%= render 'layouts/footer' %>

    </div>


  </body>
</html>
