<!-- # License
# This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
# of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016

# Code History
# 1.0 - 2/5/2019 - Sean Chan - Initial File
# 2.0 - 2/7/2019 - Sean Chan - ERB fixes
-->

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transit_stop.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transit_stop.kind %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transit_stop.status %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @transit_stop.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @transit_stop.latitude %>
</p>

<%= link_to 'Edit', edit_transit_stop_path(@transit_stop) %> |
<%= link_to 'Back', transit_stops_path %>
