<!--
  # License
  # This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
  # of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

  # Code History
  # 1.0 - 2/5/2019 - Menard Cruz - Initial File
  # 2.0 - 2/7/2019 - Sean Chan - Relationship with Transit Lines
  # 2.1 - 2/7/2019 - Michael Marrero - Edited Comments, Addec Comment block that gives detailed information on the software.

  # File Creation Date: 2/5/2019
  # Development Group: Transit Development Tteam (Chan,Cruz,Marrero)
  # Client Group: UP Student Dormers
  # Purpose of the Software: The project is to make a web-based application named Transit, and its main vision is to inform dormers and other temporary housed students to travel back to their
  #   permanent residence of the routes and methods from their current location. Being on a budget, students are more inclined to cheaper options in favor of comfort or travel time.
-->

<% content_for :title, "Home" %>

<div class="w-100 d-flex flex-column" style="min-height: 90vh; background-attachment: fixed; background-size:cover; background-image: url(<%= asset_path('transit-bg.jpg') %>);">

   <%= render 'static_pages/flashes' %>


  <div class="container m-auto p-5 row" style="color: white; z-index: 22;">
    <div class="col-lg-6 m-auto text-center text-lg-right pr-3">
        <h1>Connecting routes everywhere.</h1>
    </div>
    <div class="col-lg-6 m-auto">
      <%= form_for :session, url: login_path, class: :form, method: :post do |form| %>
        <div class="field my-3">
          <%= form.label :email %>
          <%= form.text_field :email, :class => 'form-control' %>
        </div>

        <div class="field my-3">
          <%= form.label :password %>
          <%= form.password_field :password, :class => 'form-control', :autocomplete=>'off' %>
        </div>
        <div class="actions my-3">
          <div class="row">
            <div class="col-md-8 text-center text-md-left">
              <%= button_tag(type: "submit", class: "btn btn-warning my-auto mb-lg-0 mx-auto mr-lg-0") do %>
                <i class="fas fa-sign-in-alt"></i> Login
              <% end %>
            </div>
            <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
              <%= link_to 'Sign Up', signup_path, :style => "color:#fefefe" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>



  </div>
</div>
