<%
  # License
  # This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
  # of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

  # Code History
  # 1.0 - 2/9/2019 - Sean Chan - Initial File
  # 1.1 - 2/20/2019 - Sean Chan - Created the code for creating a new commuter account
  # 1.2 - 2/22/2019 - Michael Marrero - Added Licensure and Comments

  # File Creation Date: 2/9/2019
  # Development Group: Transit Development Tteam (Chan,Cruz,Marrero)
  # Client Group: UP Student Dormers
  # Purpose of the Software: The project is to make a web-based application named Transit, and its main vision is to inform dormers and other temporary housed students to travel back to their
  #   permanent residence of the routes and methods from their current location. Being on a budget, students are more inclined to cheaper options in favor of comfort or travel time.
%>

<%
  # Form that is used for the creation of a new commuter account
%>
<%= form_for( @commuter, url: create_commuter_path, class: :form, method: :post ) do |form| %>
  <% if commuter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commuter.errors.count, "error") %> prohibited this commuter from being saved:</h2>

      <ul>
      <% commuter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
