<%= form_with(model: transit_line, local: true) do |form| %>
  <% if transit_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transit_line.errors.count, "error") %> prohibited this transit_line from being saved:</h2>

      <ul>
      <% transit_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :operating_hours %>
    <%= form.text_field :operating_hours %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :restrictions %>
    <%= form.text_field :restrictions %>
  </div>

  <div class="field">
    <%= form.label :reliability %>
    <%= form.number_field :reliability %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :avg_price %>
    <%= form.text_field :avg_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
