<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= form_for :session, url: login_path, class: :form, method: :post do |form| %>
<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="field">
  <%= form.label :password %>
  <%= form.text_field :password %>
</div>
<div class="actions">
  <%= form.submit 'Log-in', class: "btn btn-primary" %>
</div>
<% end %>
<%= link_to 'Sign Up', signup_path %>
