<%
  # License
  # This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
  # of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

  # Code History
  # 1.0 - 2/9/2019 - Sean Chan - Initial File
  # 1.1 - 2/20/2019 - Sean Chan - Implemented Login and Signup Functions

  # File Creation Date: 2/9/2019
  # Development Group: Transit Development Tteam (Chan,Cruz,Marrero)
  # Client Group: UP Student Dormers
  # Purpose of the Software: The project is to make a web-based application named Transit, and its main vision is to inform dormers and other temporary housed students to travel back to their
  #   permanent residence of the routes and methods from their current location. Being on a budget, students are more inclined to cheaper options in favor of comfort or travel time.
%>

<%
  # Displays the form for Logging In or Signing Up
%>
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= form_for :session, url: login_path, class: :form, method: :post do |form| %>
<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="field">
  <%= form.label :password %>
  <%= form.text_field :password %>
</div>
<div class="actions">
  <%= form.submit 'Log-in', class: "btn btn-primary" %>
</div>
<% end %>
<%= link_to 'Sign Up', signup_path %>
