<!-- 
  # License
  # This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo
  # of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019

  # Code History
  # 1.0 - 2/13/2019 - Sean Chan - Initial File
  # 1.1 - 2/21/2019 - Menard Cruz - Initial Frontend layouting
  # 1.2 - 3/7/2019 - Menard Cruz - Updated Front End

  # File Creation Date: 2/13/2019
  # Development Group: Transit Development Tteam (Chan,Cruz,Marrero)
  # Client Group: UP Student Dormers
  # Purpose of the Software: The project is to make a web-based application named Transit, and its main vision is to inform dormers and other temporary housed students to travel back to their 
  #   permanent residence of the routes and methods from their current location. Being on a budget, students are more inclined to cheaper options in favor of comfort or travel time.
-->

<%= content_for :title, "Login" %>

<div class="container py-5 d-flex">

  <div class="m-auto py-5 w-50  ">

    <h3 class="text-center">Login</h3>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <i class="fas fa-exclamation-triangle"></i>
        <%= message %>
      </div>
    <% end %>

    <%= form_for :session, url: login_path, class: :form, method: :post do |form| %>
    <div class="field my-3">
      <%= form.label :email %>
      <%= form.text_field :email, :class => 'form-control' %>
    </div>

    <div class="field my-3">
      <%= form.label :password %>
      <%= form.password_field :password, :class => 'form-control', :autocomplete=>'off' %>
    </div>
    <div class="actions my-3">
      <div class="row">
        <div class="col-md-8 text-center text-md-left">
          <%= button_tag(type: "submit", class: "btn btn-warning my-auto mb-lg-0 mx-auto mr-lg-0") do %>
            <i class="fas fa-sign-in-alt"></i> Login
          <% end %>
        </div>
        <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
          <%= link_to 'Sign Up', signup_path %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
